{% extends "base.html" %}

{% block content %}
<h1>Мой профиль</h1>
<div style="margin-top: 50px;">
    <table class="table">
        <tbody>
        <tr>
            <td>id:</td>
            <td>{{ user.id }}</td>
        </tr>
        <tr>
            <td>Полное имя:</td>
            <td>{{ user.name }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <td>О себе:</td>
            <td>{{ user.about }}</td>
        </tr>
        <tr>
            <td>Дата регистрации:</td>
            <td>{{ user.created_date }}</td>
        </tr>
        </tbody>
    </table>
    <form action="" method="post" novalidate style="margin-top: 50px;">
        <div>
            <div>
                {{ form.user_csrf_token }}
            </div>
            <div>
                {{ form.name.label }}<br>
                {{ form.name(class="form-control") }}<br>
                {% for error in form.name.errors %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
                {% endfor %}
            </div>
            <div>
                {{ form.email.label }}<br>
                {{ form.email(class="form-control") }}<br>
                {% for error in form.email.errors %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
                {% endfor %}
            </div>
            <div>
                {{ form.about.label }}<br>
                {{ form.about(class="form-control") }}<br>
                {% for error in form.about.errors %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
                {% endfor %}
            </div>
        </div>
        <div>
            <input class="btn btn-secondary" type="submit" value="Сохранить" style="margin-right: 20px;">
            <a type="button" class="btn btn-light" href="/new_password">Изменить пароль</a><br>
            <a type="button" class="btn btn-outline-danger" href="/delete_account" style="margin-top: 40px;">Удалить
                аккаунт</a>
        </div>
    </form>
</div>
{% endblock %}